@import "colors/macchiato.css";

/* Waybar styling */
window#waybar {
  background-color: transparent;
}

window > box {
  background-color: @mantle;
  padding: 0px 5px;
  margin: 5px 50px 0px 50px;
}

* {
  font-family: JetBrainsMono Nerd Font;
  font-weight: 600;
  font-size: 13px;
  padding: 0;
  border-radius: 20px;
}

#cpu,
#memory,
#disk,
#custom-updates,
#pipewire,
#workspaces,
#clock,
#sys-settings,
#custom-spotify,
#network,
#network.linked,
#network.ethernet,
#network.wifi {
  background-color: @base;
}

#custom-arch {
  margin: 6px 2px;
  font-size: 16px;
  color: @sapphire;
  padding: 0px 5px 0px 10px;
}

#custom-three-dots-seperator {
  color: @surface2;
  margin: 6px 2px;
  padding: 0px 5px;
}

#cpu,
#memory,
#disk,
#mpris,
#sys-settings,
#pipewire,
#custom-updates,
#clock {
  color: @text;
  border-radius: 100px;
  padding: 0px 10px;
  margin: 6px 2px;
}

#sys-settings.battery {
  padding: 0px;
}

#workspaces {
  border-radius: 100px;
  margin: 6px 2px;
  padding: 0px 10px;
}

#workspaces button {
  color: @green;
  padding: 0px 5px;
}

#workspaces button.active {
  color: @peach;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces button.empty {
  color: @subtext0;
}

#workspaces button:hover {
  color: @yellow;
  background-color: @base;
}

#bluetooth {
  font-size: 12px;
  color: @blue;
  padding: 6px;
}

@keyframes blink {
  to {
    color: @text;
  }
}

#battery.charging {
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

tooltip {
  padding: 25px;
  background-color: @mantle;
  color: @surface1;
  font-family: JetBrainsMono Nerd Font;
}

tooltip label {
  padding: 15px;
  color: @subtext0;
}

#network {
  font-size: 11px;
}

#battery {
  margin-left: 2px;
  margin-right: 10px;
}

#custom-power-button {
  color: @red;
  padding: 0px 10px;
  margin: 6px 2px;
}

#tray {
  margin: 6px 2px;
  padding: 0px 10px;
}
