# .gitignore

# configs
.config/Bitwarden CLI
.config/dconf
.config/gh
.config/github-copilot
.config/gtk-4.0/servers
.config/go
.config/keepassxc
.config/libreoffice
.config/pulse
.config/obsidian
.config/nvim
.config/whoozle.github.io

# VSCodium
.config/VSCodium/*
!.config/VSCodium/User/
.config/VSCodium/User/*
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/settings.json

# fish
.config/fish/fish_variables
.config/fish/completions
.config/fish/conf.d
.config/fish/functions
.config/fish/themes

# yazi
.config/yazi/flavors
.config/yazi/plugins
.config/yazi/package.toml
