# configs
.config/BraveSoftware
.config/borg
.config/cava
.config/dconf
.config/fastanime
.config/gh
.config/github-copilot
.config/go
.config/gust
.config/jelly
.config/keepassxc
.config/libreoffice
.config/nushell
.config/obsidian
.config/pika-backup
.config/pulse
.config/ripgrep-all
.config/systemd
.config/whoozle.github.io

.config/gtk-4.0/servers
.config/zsh/.zcompdump

.config/electron-builder.json
.config/QtProject.conf
.config/pavucontrol.ini

# fish
.config/fish/fish_variables
.config/fish/completions
.config/fish/conf.d
.config/fish/functions
.config/fish/themes

# tmux
.config/tmux/plugins

# yazi
.config/yazi/flavors
.config/yazi/plugins
.config/yazi/package.toml

# Others
.local/bin/spotdl

# Spotify
.config/spotify

# OBS Studio
.config/obs-studio/*
!.config/obs-studio/themes

# VSCodium
.config/VSCodium
!.config/VSCodium/User/extensions.txt
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/settings.json
